<div id = "about" style="background-color:#D3D3D3">
<h1><FONT COLOR= "#012169" > About Lion Tutor </FONT COLOR= "#012169"></h1>
</div>
<br></br>

<h4> <FONT COLOR= "808080" style="font-family:verdana"> Our Mission: We are committed solving one of the most common pain points that every student faces here at Columbia, which is finding a TA to help them with topics they are struggling with in their courses.</h5>
<br></br>
<h5 style="font-family:verdana"> According to our research, there is around 1 TA for every 80 students. <h5>
<h5 style="font-family:verdana"> We propose combating this problem by introducing Lion Tutor <h5>
<h5 style="font-family:verdana"> We will be connecting struggling students with fellow classmates who are experts on specific topics and would like to help their fellow peers by sharing their knowledge.</h5>
<h5 style="font-family:verdana"> As a reward, these Lion Tutors can receive extra credit from their Professors. </h5>
